body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.alert {
  font: 14px Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 12px lightgray;
}
p { margin: 12px; }
.alert .buttons {
  float: right
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg_bob.png");
}
